<?xml version="1.0"?>

<robot name="crustcrawler" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <!--xacro:include filename="$(find crustcrawler_description)/urdf/crustcrawler_arm.xacro" /-->
    <xacro:include filename="$(find crustcrawler_description)/urdf/crustcrawler_arm_working_copy.xacro" />
    
    <link name="world_link">
        <!--inertial>
            <mass value="0.0001" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                     iyy="0.0001" iyz="0.0" 
                     izz="0.0001" />
        </inertial-->
        
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
        </visual>
        
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
              <box size="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    
    <the_arm parent="world_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </the_arm>
</robot>
